.slider-one {

    .swiper-parent .swiper-slide img {
        width: 100%;
        /* height: 100%; */
    }
    
    
    .swiper-button-next, .swiper-button-prev { 
        color: dodgerblue !important;
        background-color: rgba(230, 230, 230, 0.9);
        font-size: 10px!important;
        padding: 10px!important;
        border-radius: 5px;
        height: 30px!important;
        width: 30px!important;
        overflow: hidden
    };
    
}
