.deals-parent {

        .swiper-parent .swiper-slide img {
            width: 100%;
        }
        
        .swiper-button-next, .swiper-button-prev { 
            color: white !important;
            background-color: rgb(45, 45, 45,.7);
            padding: 20px!important;
            border-radius: 5px;
        };
        
        // .swiper-slide:hover .wichlist-product {
        //     display: block!important;
        //     background-color: rgb(240 82 82 / var(--tw-bg-opacity));
        //     color: aliceblue;
        // }

        @media (max-width:500px) {
            .swiper-parent {
                width: 100%!important
            }
        }
}