.latestproducts-parent {
    .swiper-parent {
        .swiper-button-next, .swiper-button-prev { 
            color: white !important;
            background-color: rgb(45, 45, 45,.7);
            padding: 10px!important;
            border-radius: 5px;
            font-size: 10px!important;
            height: 30px!important;
            width: 30px!important;
            overflow: hidden!important;
        };
    }

            @media (max-width: 500px) {
                .latestproducts-one-swiper-slide {
                    width: 230px!important;
                }
            }
}