.header {
    z-index: 400;
}

.shops-list-container {
    &:hover {
        .units-into-level {
            display: block;
            min-width: 0px;
            min-height: 0px;
            top: 35px!important;
            left: -80px!important;
            background-color: rgb(228, 228, 228);
            color: #ededed;
            // padding: 10px;

            div {
                background-color: #dc1a21;
                margin: 5px;
                padding: 5px;
            }
        }
    }
}

.fixed-nav-one {
    position: fixed;
    top: 0px;
    width: 100%;
}

@media (max-width: 700px) {
    .header .nav-mobile{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: gainsboro;
        width: 100%;
        justify-content: space-around;
        padding: 5px;
        z-index: 400;
        color: black;
        .inter-icon {
            color: black!important;
        }
        .fv-icon {
            color: black!important;
        }
        .dropdown-categories button span {
        color: black!important;
    }

    }
    
    .hide-text-mob {
        display: none;
    }


    .crt-wich-num {
        left: -14px!important;
        top: -3px!important;
    }  
}

.header-one  {
    background-color: #dc1a21 ;
}

@media (max-width: 500px) {


    .header-one  {
        .logo-div {
            width: 180px!important;
        }

    }

    .show-search-icon {
        display: block;
    }

    .search-input {
        display: none;
    }

    .header-one {
        .search-input-div {
            margin-top: 12px!important;
        }

        .logo-div {
            margin: 0 auto;
        }
    }
}

@media(min-width: 500px) {
    .close-search-icons {
        display: none;
    }
}

.show-input {
    display: block;
}

.header-one {
    .account-btn {
        &:hover {
            .account-list {
                display: flex;
                background-color: #ffffff;
                position: absolute;
                top: 40px;
                right: 0px;
                flex-direction: column;
                z-index: 100;
                gap: 5px;

                a {
                    background-color: #dc1a21;
                }

                a:hover {
                    background-color: #ededed;
                    color: black;
                       
                }
            }
            @media( max-width: 700px){
                .account-list{
                    top: -110px!important;
                }
            }
        }

    }

    .dropbtn-categories {
        color: black;
        font-size: 16px;
      }
      
      .dropdown-categories {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content-categories {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 500;
        left: -20px;
      }
      
      .dropdown-content-categories > a {
        color: black;
        padding: 12px 16px;
        display: block;
        cursor: pointer;
    
        &:hover {
            background-color: #dc1a21;
            color: #f1f1f1;
        }
      }
      
      .dropdown-categories:hover .dropdown-content-categories {display: block;}
      @media (max-width:500px) {
          .dropdown-content-categories {
            top: -90px;
          }
      }
}

