

.header-tow {
  .dropbtn-traders {
      color: black;
      padding: 5px;
      font-size: 16px;
      border-bottom: 2px solid #b1b1b1;
    }
    
    .dropdown-tradres {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-trader-list {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 200;
      left: -20px;
    }
    
    .dropdown-trader-list > div {
      color: black;
      padding: 12px 16px;
      display: block;
      cursor: pointer;

      &:hover {
          background-color: #dc1a21;
          color: #f1f1f1;
      }
    }

    // .hide-trader-list-onclick {
    //   display: none!important;
    // }

    .dropdown-tradres:hover .dropdown-trader-list {display: block;}
    //   .dropdown-content-categories div:hover {background-color: #ddd;}
    
    
    //   ----------------------------- show SubCategory -----------------------------
    // .main-categ-name {
    //   display: none;
    // }
    // .dropbtn-categories:hover .main-categ-name {display: block;}

    .main-categ-dropbtn:hover .subCategContent {
      display: block!important;
      z-index: 300;
    }

    .subCategContent {
      left: -50px;
      top: 48px;
      background-color: white;
      padding: 5px;
    }

    .subCategContent > div{
      color: black;
      padding: 12px 16px;
      display: block;
      cursor: pointer;
      &:hover {
          background-color: whitesmoke;
      }
    }

    .dropbtn-categories {
      color: black;
      padding: 5px;
      font-size: 16px;
      border-bottom: 2px solid #b1b1b1;
    }

    .dropdown-category-list {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 200;
      left: -20px;


    }

    .dropdown-category-list > div {
    
        color: black;
        padding: 12px 16px;
        display: block;
        cursor: pointer;

        &:hover {
            background-color: #dc1a21;
            color: #f1f1f1;
        }
   
    }
    .dropdown-categories {
      &:hover {
        .dropdown-category-list {display: block!important;}
      }

    }
  

}  