
@media (max-width:500px) {
    .prodcut-details-container {
        flex-direction: column;
    }

}

li {
    list-style: auto;
}

// .prodcut-details-container {

// }

.all-imgs {
    overflow-x: auto;
    max-width: 400px;
    height: 190px;
}